@use "../../Scss/Index.scss";

main{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr{
    width: 80%;
    border: 0.1em solid Index.$tertiary;
    margin: 1em 0;
}

h1{
    font-size: 2em;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5em;
    text-align: center;
    border: 0.1em solid Index.$primary;
    border-radius: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 0.5em Index.$primary;
}