@use "../../Scss/Index.scss";

.musicList{
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
}

.musicCol{
    display: flex;
    justify-content: center;
}