@use "../../Scss/Index";

.footer{
    margin-top: 2em;
    padding: 2em;
    height: auto;
    background-color: Index.$tertiary;
    display: flex;
}

.footerMenu{
    width: 50%;
    nav{
        display: flex;
        flex-direction: column;
        gap: 1em;

        a{
            color: Index.$secondary;
            text-decoration: none;
            font-size: 1.2em;
            transition: all 0.3s ease;

            &:hover{
                color: Index.$primary;
            }
        }
    }
}

.footerSocials{
    width: 50%;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 1em;
    right: 0;

    a{
        position: relative;
        text-decoration: none;
        color: Index.$secondary;
        font-size: 1.2em;
        transition: all 0.3s ease;
        left: 30%;

        &:hover{
                color: Index.$primary;
            }
    }
}